ion-toolbar {
    --background: #343e59;
    --border-color: #343e59;
    border-bottom: 1px solid #818ca8;
    --color: #ffffff;
    --padding-start: 0;
}

ion-content {
    --background: #343e59;
    --color: #ffffff;
    --padding-end: 18px;
    --padding-start: 18px;
    --padding-top: 18px;
    --padding-bottom: 18px;
}