/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');
* {
    $font-family-base: 'Varela Round', sans-serif;
    $font-family-ios-base: 'Varela Round', sans-serif;
    $font-family-md-base: 'Varela Round', sans-serif;
    $font-family-wp-base: 'Varela Round', sans-serif;
    font-family: 'Varela Round', sans-serif !important;
}

    label {
      padding: 0 0.25rem;
      color: #939fab;
      font-size: 1rem;
      transition: 0.3s;
    }
  
    input {
      width: 100%;
      font-size: 17px;
      font-weight: 400;
      border: 2px solid #e7ebee;
      border-radius: 10px;
      outline: none;
      padding: 1rem;
      background: none;
      z-index: 1;
      color: rgb(233, 233, 233);
    }
  
    input:focus {
      border-color: #57d4fa;
    }

    textarea {
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        border: 2px solid #e7ebee;
        border-radius: 10px 10px 0px 10px;
        outline: none;
        padding: 1rem;
        background: none;
        resize:vertical;
        z-index: 1;
        color: rgb(233, 233, 233);
      }
    
      textarea:focus {
        border-color: #57d4fa;
      }
  
    .label-focused {
      top: -0.4rem;
      left: 0.8rem;
      font-size: 14px;
      color: rgb(233, 233, 233);
      background-color: #343e59;
      z-index: 10;
    }